* {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

ul,
ul li {
  padding: 0px;
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px;
  margin-bottom: 30px;

  display: flex;
  justify-content: flex-start;
}

header img {
  width: 64px;
  height: auto;
}

h1 {
  font-weight: 900;
}

.games {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 190px;
  /* height: 170px; */
  height: auto;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  border-radius: 5px;
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.game-info {
  padding: 2px 16px;
}

.game-info h4 {
  margin: 5px 0 30px 0;
}

.icon-platform img {
  width: 24px;
  height: auto;
}

.contacts {
  display: flex;
}

.contacts ul {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.contact a img {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;

  padding: 10px;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0;
}

footer a {
  position: relative;
  color: #00082f;
  text-decoration: none;
}

footer a:hover {
  color: #00082f;
}

footer a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

footer a:hover::before {
  transform: scaleX(1);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
